.Preshow{
    text-align: center;
    position: absolute;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(36,47,62);
    color: rgb(255, 255, 255);

}
.Preshow h1{
    font-family: 'Mountains of Christmas', cursive;
    color: rgb(82,224,231);
    /* border-bottom: solid;
    border-width: 1px; */
}
.Preshow h2{
    font-size: 20px;
}
.Preshow p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.Route img{
    width: 90vw;
    height: 33vh;
}
.Sponsor_Preshow{
    background-color: black;
    width: 50vw;
    height: 10vh;
    margin-left: 25vw;
    border-radius: 2px;
}
.Sponsor_Preshow img{
    width: 50vw;
    height: 10vh;
}

@media (orientation: landscape) {
    .Preshow{
        display: flex;
    }
    .Status{
        position: absolute;
        width: 50vw;
        height: 100vh;
        left: 0vw;
        top: 0vh;
    }
    .Route{
        position: absolute;
        width: 50vw;
        height: 100vh;
        left: 50vw;
        top: 0vh;
    }
    .Route img{
        width: 50vw;
    }
  }


