.End_Show{
    text-align: center;
    position: absolute;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(36,47,62);
    color: rgb(255, 255, 255);
}

.End_Show h1{
    font-family: 'Mountains of Christmas', cursive;
    color: rgb(82,224,231);
}

.End_Show h2{
    font-size: 20px;
}
.End_Show h3{
    font-size: 17px;
}

.Sponsor_Endshow{
    /* background-color: black; */
    margin-top: 10px;
    width: 50vw;
    height: 10vh;
    margin-left: 25vw;
    /* border-radius: 2px; */
}
.Sponsor_Endshow img{
    width: 50vw;
    height: 10vh;
    cursor: pointer;
}

.Col_1, .Col_2, .Col_3, .Col_4{
    width: 100vw;
}
.End_Show li{
    text-align: center;
    font-size: 15px;
    line-height: 18px;
}

#fb, #mail{
    width: 50px;
    height: 50px;
}
a{
    text-decoration: none;

}
.Contact{
    /* margin-top: 20px; */
}

@media (orientation: landscape) {
    .End_Show h1{
        margin-top: 50px;
    }
    .End_Show p{
        padding-left: 20vw;
        padding-right: 20vw;
        font-size: 14px;
    }

    .Route img{
        width: 30vw;
    }
  
  .Sponsor_Endshow img{
    width: 10vw;
    height: 10vh;
}
.Sponsor_Endshow{
    margin-top: 30px;
    width: 10vw;
    height: 10vh;
    margin-left: 45vw;
    border-radius: 2px;
}


}