.Sponsors{
    position: absolute;
    top: 0px;
    width: 205px;
    height: 105px;
    z-index: 10050;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(133, 133, 133);
    border-radius: 2px;
    background-color: black;
}
.Sponsors img{
    display: block;
    cursor: pointer;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
}